h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  margin: 2em;
}

textarea {
  margin-top: 2em;
}

input {
  margin: 1em;
  width: 530px;
}

button {
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

select {
  margin-left: 1em;
}
 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
